*{
  padding:0 ;
  margin: 0;
  /* border: solid 1px #fff; */
}
body{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url("http://getwallpapers.com/wallpaper/full/5/2/4/1184974-book-pages-as-wallpaper-1920x1200-iphone.jpg");
  background-size: cover;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;

}
section{
  margin-top:2px;
  margin-left: auto;
  margin-right: auto;
  height:60%;
    width: 50%;
}
form{
  width: 70%
}

span{
  color:#827717
}
.container
{
display: flex;
flex-direction: column;
align-items: center;
}

#lableid{
  font-size: 40px;
  width: 70%;
  font-weight: 600;
  color:#CDDC39;

}
#input{
  width: 90%;
  margin: 10px auto;
  height: 40px;
  background:#F5F5F5;
  padding-left: 5px;
  border: 2px outset #BDBDBD;
  border-radius: 5px ;
}

.targetLang{
  width:50%;
  padding:5px;
  height: 30px;
  margin:5px auto;
  background:#EFEBE9;
  font-size: 15px;
  border: 2px outset #BDBDBD;
  border-radius: 5px
}
#button{
  width:50%;
  padding:5px;
  height: 30px;
  margin:5px auto;
  background:#EFEBE9;
  font-size: 15px;
  border: 2px outset #BDBDBD;
  border-radius: 5px
}



#result{

  width: 60%;
  height:auto;
  font-size: 2rem;
  display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
    background:#BDBDBD;
    color:#424242
}
